* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lobby {
  
}

.game {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

.game .questionContainer .answers {
  display: grid;
  gap: 0.5;
  grid-template-columns: 1fr 1fr;
}

.game .questionContainer .answers .answer {
  padding: 1rem;
  list-style: none;
  font-size: 2rem;
}

.game .players {
  position: absolute;
  width: 200px;
  border: solid;
  height: 100%;
  top: 0rem;
  right: 0;
}

.game .players .player {
  list-style: none;
  border: solid 1px;
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  transition: 1s;
}

.hidden {
  display: none;
}